# Byte-compiled files
*.py[cod]
__pycache__/
*.so

# Virtual environment
env/
myenv/
venv/
ENV/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables and credentials
.env

# Build and distribution files
build/
dist/
*.egg-info/
*.egg

# Test coverage and testing reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.py,cover

# IDE-specific files
.idea/
.vscode/
*.swp

# pip files
pip-log.txt
pip-delete-this-directory.txt

# Django-specific
db.sqlite3
media/
staticfiles/

# Flask-specific
instance/
*.pyc
__pycache__/

# MySQL or PostgreSQL dumps
*.sql

# Backup files
*.bak
*.orig
*.tmp
*.old

# Temporary files
*.temp
*.tmp
~$
